
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="180">
  <a class="navbar-brand" href="{% url 'indexPage'%}">Home </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'group'%}">Join Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload'  %}">Add comment</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'allbiz' %}">Shops</a>
        </li>
      
    </ul>
    
    <form class="form-inline" role="search" action="{% url 'search_results' %} ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search user"name="business">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
     
      
          
            <a class="nav-link" href="/logout">logout</a>
          


      <i class="fa fa-user-o" style="font-size:48px;color:black"></i>
    </a>
          
     
  </div>
</nav>