
<nav class="navbar">

  <a class="navbar-brand" href="#">Leather Networking</a>
  <div class="col-md-4 navbar-right">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="business">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


  <div class="navbar navbar-right" id="navbarTogglerDemo03">

        <a class="navbar-brand" href="{% url 'indexPage'%}">Home <span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="{% url 'group'%}">Group</a>
        <a class="navbar-brand" href="{% url 'upload'%}">Comment</a>
        <a class="navbar-brand" href="{% url 'allbiz' %}">Purchase </a>
  </div>
</nav>

 



    

