
{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
   {% bootstrap_css%}
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' >
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock%}
</head>
<body>

<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row">
  
  <div class="col-md-4">
    <a class="navbar-header" href="{% url 'indexPage' %}" style="margin-left:40px;color:purple;"><h1>Leather Networking </h1></a>
  </div>
  <div class="col-md-6" class="navbar navbar-right">
      {% if user.is_authenticated %}
      <h6><a  class="navbar-brand" href="/accounts/register/" style="color:brown;"> Register</a>
      <a class="navbar-brand"  href="/logout/"style="color:brown;">Log Out</a>
      {% else %}
      <li>
        <a class="navbar-brand" href="/accounts/login" style="color:brown;">Login</a>
      </li>
      {% endif %}
    </div>
    </div>
  </nav>

<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <ul class="list-group">
              <li class="list-group-item text-center"><a href="/accounts/password/change">Change Password</a></li>
              <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
              <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
              <li class="list-group-item text-center"><a href="/admin">Admin</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</div>
</body>
</html>