body{
    background-color: purple;
    color: #fff;
  }
  button{
    color: #082845;
    background-color: #fff;
    border: none;
  }
  button i{
    font-size: 20px;
  }
  
  .jumbotron{
    background-color: #EFEFEF;
    color: #1565b1;
  }
  .panel{
    padding-bottom: 40px;
  }
  