{% extends 'temps/base.html'%}
{% load static %}
{% block content %}
{{ block.super }}


<div class="jumbotron">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <h1 class="display-3">Welcome, get started with Leather Networking App</h1>
    <p class="lead">Main purpose is to curb insecurity</p>
    <hr class="my-4">
    <p>My app enhances security by digitizing the ‘Neighbourhood’ initiative and providing enhanced methods of communication between a person’s neighbours and the leader of the initiative which is either the chief or an elder in the location covered</p>
</div>
{% endblock %}
