{% extends 'temps/base.html'%}
{% load static %}
{% block content %}
{{ block.super }}


<div class="jumbotron">
    <h6 class="display-3">Welcome to my neighbourhood application</h6>
    <p class="lead">Main purpose is to curb insecurity</p>
    <hr class="my-4">
    <p>My app enhances security by digitizing the ‘Neighbourhood’ initiative and providing enhanced methods of communication between a person’s neighbours and the leader of the initiative which is either the chief or an elder in the location covered</p>
</div>
{% endblock %}
